<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanhong.wms.mapper.WarehousingRecordMapper">


    <select id="warehousingDetail" resultType="com.huanhong.wms.entity.vo.WarehousingDetailVo">
        select wr.*,m.type_code,m.brand,m.specification_model,m.material_name as
        materialName,m.measurement_unit,m.supplier as supplier2
        ,wm.warehouse_name
        from warehousing_record wr left join material m on wr.material_coding = m.material_coding
        left join warehouse_management wm on wr.warehouse_id = wm.warehouse_id
        where wr.del = 0 and m.del = 0 and wm.del = 0
        <if test="materialCoding != null">
            and wr.material_coding like concat('%',#{materialCoding},'%')
        </if>
        <if test="materialName != null">
            and m.material_name like concat('%',#{materialName},'%')
        </if>
        <if test="specificationModel != null">
            and m.specification_model = #{specificationModel}
        </if>
        <if test="supplier != null">
            and m.supplier = #{supplier}
        </if>
        <if test="typeCode != null">
            and m.type_code = #{typeCode}
        </if>
        <if test="batch != null">
            and wr.batch = #{batch}
        </if>
        <if test="warehouseId != null">
            and wr.warehouse_id = #{warehouseId}
        </if>
        <if test="consignor != null">
            and wr.consignor = #{consignor}
        </if>

        <if test="inDateStart != null">
            and wr.create_time >= #{inDateStart}
        </if>
        <if test="inDateEnd != null">
            <![CDATA[
            and wr.create_time <= #{inDateEnd}
            ]]>
        </if>

    </select>
    <select id="getTheTrendOfWarehouseInboundByParam" resultType="java.util.Map">
        SELECT
        SUM(w.enter_quantity) AS amount ,
        DATE(w.create_time) AS dateStr ,
        MONTH(w.create_time) AS monthStr
        FROM
        warehousing_record w
        WHERE
        w.del = 0
        <if test="warehouseId != null">
            and w.warehouse_id = #{warehouseId}
        </if>
        <if test="startTime != null">
            <![CDATA[
            and w.create_time >= #{startTime}
            ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[
            and w.create_time <= #{endTime}
            ]]>
        </if>
        <if test="type != null">
            <choose>
                <when test="1">
                    GROUP BY
                    DATE(w.create_time)
                </when>
                <when test="2">
                    GROUP BY
                    MONTH(w.create_time)
                </when>
            </choose>
        </if>
        ORDER BY
        w.create_time DESC
    </select>
    <select id="inventoryRecord" resultType="com.huanhong.wms.entity.vo.InventoryRecordVo">
        SELECT *
        FROM (select
        wr.supplier
        ,'入库' as objectType
        , wr.material_coding
        , wr.enter_quantity as outQuantity
        , wr.unit_price as unitPrice
        , wr.batch
        , wr.cargo_space_id
        , wr.consignor
        , wr.create_time
        , wr.remark
        , wr.warehouse_manager as librarian
        , m.type_code
        , m.brand
        , m.specification_model
        , m.material_name
        , m.measurement_unit
        , m.supplier as supplier2
        , wm.warehouse_name
        ,wr.del
        from warehousing_record wr
        left join material m on wr.material_coding = m.material_coding
        left join warehouse_management wm on wr.warehouse_id = wm.warehouse_id
        where wr.del = 0
        and m.del = 0
        and wm.del = 0
        UNION
        select
        '泰丰盛合' as supplier,
        '出库' as objectType,
        o.material_coding,
        o.out_quantity,
        o.sales_unit_price as unitPrice,
        o.batch,
        o.cargo_space_id,
        o.consignor,
        o.create_time,
        puo.remark,
        puo.librarian,
        m.type_code,
        m.brand,
        m.specification_model,
        m.material_name,
        m.measurement_unit,
        m.supplier as supplier2,
        wm.warehouse_name,
        o.del
        from outbound_record o
        left join material m on o.material_coding = m.material_coding
        left join plan_use_out puo on o.document_number = puo.document_number
        left join warehouse_management wm on o.warehouse_id = wm.warehouse_id
        where o.del = 0
        and m.del = 0
        and wm.del = 0
        and puo.del = 0) a
        where a.del = 0
        <if test="materialCoding != null">
            and a.material_coding like concat('%',#{materialCoding},'%')
        </if>
        <if test="materialName != null">
            and a.material_name like concat('%',#{materialName},'%')
        </if>
        <if test="specificationModel != null">
            and a.specification_model = #{specificationModel}
        </if>
        <if test="supplier != null">
            and a.supplier = #{supplier}
        </if>
        <if test="supplier2 != null">
            and a.supplier2 = #{supplier2}
        </if>
        <if test="typeCode != null">
            and a.type_code = #{typeCode}
        </if>
        <if test="batch != null">
            and a.batch = #{batch}
        </if>

        <if test="consignor != null">
            and a.consignor = #{consignor}
        </if>

        <if test="librarian != null">
            and a.librarian = #{librarian}
        </if>

        <if test="objectType != null">
            and a.objectType = #{objectType}
        </if>

        <if test="gmtStart != null">
            and a.create_time >= #{gmtStart}
        </if>
        <if test="gmtEnd != null">
            <![CDATA[
            and a.create_time <= #{gmtEnd}
            ]]>
        </if>

    </select>
    <select id="getTheTotalMoneyOfWarehouseInboundByParam" resultType="java.util.Map">
        SELECT
            FORMAT(
                    SUM(
                            w.enter_quantity * w.sales_unit_price
                        ) ,
                    2
                ) AS amount ,
            w.warehouse_id ,
            wm.warehouse_name
        FROM
            warehousing_record w
                LEFT JOIN warehouse_management wm ON wm.warehouse_id = w.warehouse_id
        WHERE
            w.del = 0
        <if test="warehouseId != null">
            and w.warehouse_id = #{warehouseId}
        </if>
        <if test="startTime != null">
            <![CDATA[
            and w.create_time >= #{startTime}
            ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[
            and w.create_time <= #{endTime}
            ]]>
        </if>
        GROUP BY
            w.warehouse_id
    </select>
    <select id="countWarehousingRecordByWarehouse" resultType="java.util.Map">
        SELECT
            FORMAT(
                    IFNULL(
                            SUM(
                                    w.enter_quantity * w.sales_unit_price/#{total}*100
                                ) ,
                            0
                        ) ,
                    2
                ) AS num ,
            IFNULL(m.material_name , '未命名') AS name ,
            w.material_coding
        FROM
            warehousing_record w
        LEFT JOIN material m ON m.material_coding = w.material_coding
        WHERE
            w.warehouse_id = #{warehouseId}
          AND w.del = 0
          AND to_days(w.last_update) = to_days(now())
        GROUP BY
            w.material_coding
    </select>
</mapper>
